*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images3.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}
 

ul{
        float:right;
        list-style-type: none;
        margin: 20px;
}
ul li{
        display: inline-block;
}

ul li a{
    text-decoration: none;
    color: rgb(253, 250, 250);
    padding: 5px 20px;
    border: 1px solid transparent;
}

ul li a:hover{
    background-color: rgba(244, 246, 247, 0.925);
    color: #000;

}
ul li.active a{
    background-color: rgba(244, 246, 247, 0.925);
    color: #000;
}
.logo1 img{
    float: left;
    width: 450px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title1{
    position: absolute;
    top: 20%;
    left: 21%;
    transform: translate(-50%,-50%);
}
.title1 h1{
    color: #f8f5f5;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.title{
    position: absolute;
    top: 38%;
    left: 17%;
    transform: translate(-50%,-50%);
}
.title p{
    color: rgb(253, 251, 249);
    font-size: 16px;
    width: 300px;
    height: 200px;
    text-justify: auto;
    
}
.title2{
    position: absolute;
    top: 200%;
    left: 350%;
    transform: translate(-50%,-50%);
}
.title2 p{
    color: rgb(246, 248, 247);
    font-size: 16px;
    font-style: oblique;
    width: 300px;
    height: 200px;
    text-justify: auto;
    
}

